.container
	.jumbotron
		h1 Multivision
		p this is just a random paragraph of stuff that i have written to fill out the blank space that would have normallay been actually filled by content, I don't have that content and I'm not sure what this programme is supposed to be doing so can't even make some fake ones up yet....


	.row
		.col-md-6
			div(ng-include="'/partials/main/featured-courses'")
		.col-md-6
			div(ng-include="'/partials/main/new-courses'")